<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create show</title>
    <style>
        body {
            font-size: 21px;
            border-color: black;
            border-style: solid;
            margin-left: 400px;
            margin-right: 400px;
            margin-top: 50px;
            margin-bottom: 200px;
            padding-bottom: 200px;
            padding-top: 20px;
        }

        .navbar {
            display: flex;
            flex-direction: row;
            margin-left: 30px;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <div style="flex-basis:800px;">Admin Dashboard </div>
        <div>Summary |</div>
        <div>Logout </div>
    </div>
    </div>
    <hr>
    Creating a new show
    <div class="container" style="text-align:center; padding-top:50px;">
        <form action="/create_show" , method="POST">
            <label>Show Name:</label>
            <input type="text" name="show-name" /><br>
            <br>
            <label>Rating</label>
            <input type="integer" name="rating" /><br>
            <br>
            <label>Timing</label>
            <input type="datetime-local" name="time" /><br>
            <br>
            <label>Tags</label>
            <input type="text" name="tags" /><br>
            <br>
            <label>Price</label>
            <input type="integer" name="price" /><br>
            <br>
             <select name="ven-id" id="">
                {% for one in ven %}

                 <option value="{{one['venue_id']}}">{{one['venue_name']}}</option>

                {% endfor %}
             </select>
            <br>
            <input type="submit" value="Save">
        </form>
    </div>
</body>

</html>