<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Register</title>
    <style>
        body{
            width:60%;
            min-height: 500px;
            margin:auto;
            border:3px solid black;
            text-align: center;
         }
        .register{
            border:2px solid black;
            border-radius:5%;
            height:fit-content;
            width:50%;
            margin-left: auto;
            margin-right:auto;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top:10%;
        }
    </style>
</head>

<body>
    <div class="register">
        <h1>User registration page</h1>
        <form method="POST" action="/user_register" id="data-form">
            <label>Email</label>
            <input type="email" name="email" /><br>
            <br>
            <label>Password</label>
            <input type="password" name="password" /><br>
            <br>
            <br>
            <input type="submit" value="Register">
        </form>
    </div>

</body>

</html>